@import "@/scss/index.scss";

.topBar {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  z-index: 5;

  @media (max-width: 768px) {
    display: block;
    padding-top: 10px;
    margin-bottom: 20px;
  }
}

.left {
  width: 20%;

  .link {
    width: fit-content;

    a > img {
      height: 40px;
    }
  }

  @media (max-width: 768px) {
    .link {
      display: none;
    }
  }
}

.center {
  width: 60%;
  display: flex;
  justify-content: center;
  color: $text-primary;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
  }
}

.right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  color: $text-primary;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}
