@import "@/scss/index.scss";

.logo {
  height: 70px;
}

.category {
  display: flex;
  padding: 0 20px;

  > a {
    color: $text-primary;
    font-weight: bold;
    font-size: 1.1rem;

    &:hover {
      color: $primary;
    }

    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}
