@import "@/scss/index.scss";

.topBar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-secondary;
  width: 100%;
  padding: 20px;
  z-index: 5;
}

.left {
  width: 180px;
  flex-shrink: 0;

  img {
    width: 180px !important;
    height: 40px !important;
    object-fit: contain;
  }
}

.desktopMenu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 0 20px;
  min-width: 0;
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  color: $text-primary;
  min-width: 0;
  overflow: hidden;
}

.right {
  width: 120px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  color: $text-primary;
}

.burgerButton {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  position: relative;
  z-index: 10;

  span {
    width: 30px;
    height: 3px;
    background: $text-primary;
    border-radius: 10px;
    transition: all 0.3s linear;
  }

  &.open {
    span {
      &:first-child {
        transform: rotate(45deg) translate(6px, 6px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.mobileMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: $background-secondary;
  padding: 20px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }

  .mobileAccount {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .desktopMenu {
    display: none;
  }

  .burgerButton {
    display: flex;
  }

  .mobileMenu {
    display: block;
  }

  .left {
    width: 180px;
    margin-right: 20px;

    img {
      width: 180px !important;
      height: 40px !important;
    }
  }
}
