@import "@/scss/index.scss";

.categories {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;

  @media (max-width: 1100px) {
    border-radius: 100px;
    flex-direction: column;
  }

  > a {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    color: $text-primary;
    height: 3px;
    width: 250px;
    justify-content: center;

    &:hover {
      color: $primary-hover;
    }

    img {
      height: 30px;
      padding-right: 10px;
      flex-shrink: 0;
    }

    @media (max-width: 1100px) {
      padding: 20px 20px;
      border-right: 0;
      text-align: center;
      width: 100%;
    }
  }

  .search {
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: center;
    height: 100%;
    border: 0;

    @media (max-width: 1100px) {
      padding-top: 20px;
    }

    i {
      margin-right: 10px;
      font-size: 20px;
      color: $text-primary;
    }

    .input {
      width: 250px;
      height: 100%;
      overflow: hidden;
      border-radius: 100px;

      > input {
        background-color: $primary !important;
        border: 0 !important;
        color: $text-primary !important;
        font-size: 16px;
        padding: 10px 20px;

        &::placeholder {
          color: $text-primary;
          opacity: 0.6;
        }
      }
    }
  }
}
