@import "@/scss/index.scss";

.categories {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1100px) {
    border-radius: 100px;
    flex-direction: column;
  }

  > a {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    color: $text-primary;
    border-right: 5px solid $primary;
    height: 3px;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      border-right: 0;
    }

    &:hover {
      color: $primary-hover;
    }

    img {
      //filter: brightness(0) invert(1);
      height: 30px;
      padding-right: 10px;
    }

    @media (max-width: 1100px) {
      padding: 20px 20px;
      border-right: 0;
      text-align: center;
    }
  }

  .search {
    display: flex;
    align-items: center;
    margin-left: 30px;
    justify-content: center;
    height: 100%;
    border: 0;

    @media (max-width: 1100px) {
      padding-top: 20px;
    }

    i {
      margin-right: 10px;
      font-size: 20px;
    }

    .input {
      width: 250px;
      height: 100%;
      overflow: hidden;
      border-radius: 100px;

      > input {
        background-color: $primary !important;
        border: 0 !important;
        color: $text-primary !important;
        font-size: 16px;
        padding: 10px 20px;

        &::placeholder {
          color: $text-primary;
          opacity: 0.6;
        }
      }
    }
  }
}
