@import "@/scss/index.scss";

.account {
  display: flex;

  Button {
    background-color: transparent !important;
    color: $text-primary !important;
    margin-left: 10px !important;

    &:hover {
      > i {
        color: $primary !important;
      }
    }

    i {
      font-size: 18px;
      height: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      background-color: $primary;
      color: $text-primary;
      font-size: 10px;
      margin-left: 5px;
    }
  }

  .user {
    background-color: $background-tertiary !important;
    border-radius: 10px;
    border: 2px solid $background-tertiary;

    &:hover {
      border: 2px solid $primary;
    }

    > i {
      color: $primary !important;
    }
  }

  .username {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-weight: 800;
  }
}
